footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-bottom:100px;
  background-image: url("http://f.cl.ly/items/0T0P27022n1X3d432I2B/Portfolio-Wheat.png");
  background-repeat: no-repeat;
}
