footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-bottom:100px;
  background-image: url("http://f.cl.ly/items/3Z2P191C2q1E122M3J2s/Portfolio-Mountains.png");
  background-repeat: no-repeat;
}
