/*
Based on Skeleton V2.0.4 by Dave Gamache
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    margin: clear;
    padding:clear;
    font-size: 62.5%; }

body {

    background-color: white;
    font-family: 'IBM Plex Serif', serif;
    font-size: 2rem;
    line-height: 3.5rem;
    letter-spacing: -.025rem;
    color: black;
}

.container {
    width:auto;
    margin: auto;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 320 */
@media (min-width: 320px) {

}

/* For devices larger than 768px */
@media (min-width: 768px) {
    .column,
    .columns {
        margin-left: 4%; 
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

}




/* NAV BAR 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* nav bar background */
nav {
    z-index:100;
    width:100%;
    height: 40px;
    position: fixed;
    background-color:white;
    box-shadow: 0px -6px 10px rgb(0,0,0,0.75);

    /*vertically centering box*/
    padding: 15px 0px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items:center;
}

/* memoji animation! */
#rotate {
    width:40px;
    height:auto;
    transition: transform 1s ease-out;
}
#rotate:hover {
    transform: rotate(25deg) scale(1.15);
}

/* nav items - left*/
#right {
    margin-top:1px;
    margin-left:2.25rem;
}

/* nav item spacing */
ul#navcontent li {
    display: inline;
    margin-right:4rem;
}

/* nav item text styling */
ul#navcontent a {
    font-family: 'Karla', sans-serif;
    font-style:normal;
    font-size: 1.5rem;
    letter-spacing: .025rem;
}


/* positioning + styling progress bar */
#progress {
    position:fixed;
    z-index:99;
    width:100%;
}

#progressindicator {
    width: 0%;
    height: 5px;
    background-color: #4285F4;
}



/* Nav Bar - Media Queries ––––––––––––––––––––––––––– */

/* Mobile: Hide nav */
@media (min-width: 320px) {
    nav{
        display:none;
    }
    #progress {
        margin-top:0px;
        z-index:100;
    }
    #hero {
        padding-top:0px;
    }
}

/* Tablet + larger: Show nav */
@media (min-width: 768px) {
    nav{
        display:flex;
    }
    #progress {
        margin-top:75px;
        z-index:99;
    }
    #hero {
        padding-top:75px;
    }
}



/* SPACERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*------Smartphone-----*/
@media (min-width: 320px) {
    /*overarching elements*/
    .text {
        padding:0% 5%;
    }
    .main-intro {
        margin-bottom:5rem;
    }
    .med-intro {
        margin-bottom:1rem;
    }
    .sub-intro {
        margin-bottom:1.25rem;
    }
    .sectionshadow {
        padding-bottom:6rem;
        margin-bottom:5rem;
        box-shadow: 0px 6px 10px rgb(0,0,0,.13);
    }

    /*section specifics*/
    #hero {
        margin-bottom:2rem;
    }
    #breaker2{
        margin-bottom:2rem;
    }
    .audience, .barrier {
        margin-bottom:3rem;
    }
    .audience:nth-child(1), .barrier:nth-child(1) {
        margin-top:3rem;
    }
    #breaker3{
        margin-top:3rem;
        margin-bottom:2.2rem;
    }
    .principle {
        margin-bottom:3rem;
    }
    .principlegroup {
        margin-bottom:5rem;
    }
    #ia {
        margin-top:2rem;
        margin-bottom:3rem;
    }
    #breaker4{
        margin-top:5rem;
        margin-bottom:2rem;
    }
    .wiresgroup {
        margin-bottom: 2.7rem;
    }
    .wires {
        margin-bottom: 1.5rem;
    }
    .userflow {
        margin-bottom:3rem;
    }
    .flowstep {
        margin-bottom:2rem;
    }
    #breaker5{
        margin-top:5rem;
        margin-bottom:4rem;
    }
    .explorationgroup {
        margin-bottom:10rem;
    }
    .explorationgroup:nth-of-type(n) {
        margin-bottom:7rem;
    }
    .exploration {
        margin-bottom:3rem;
    }
    #breaker6{
        margin-top:0;
        margin-bottom:2.5rem;
    }
    .component {
        margin-bottom:3rem;
    }
    #styleguide {
        margin-top:10rem;
    }
    .issue {
        margin-bottom:3rem;
    }
    .slide {
        margin-bottom:3rem;
    }
    #fulldesigns {
        margin-top:10rem;
    }
    .designs {
        margin-bottom:8rem;
    }
    .desktop {
        margin-bottom:3rem;
    }
    #breaker7 {
        margin-top:0;
        margin-bottom:5rem;
    }
}


/*------Tablet+-----*/
@media (min-width: 768px) {
    /*overarching elements*/
    #hero {
        margin-bottom:5%;
    }
    .text {
        max-width: 1024px;
        margin: 0rem auto;
    }
    .main-intro {
        margin-bottom:5rem;
    }
    .med-intro {
        margin-bottom:3rem;
    }
    .sub-intro {
        margin-bottom:1.25rem;
    }
    .sectionshadow {
        padding-bottom:15rem;
        margin-bottom:12.25rem;
        box-shadow: 0px 6px 6px rgb(0,0,0,.08);
    }

    /*section specifics*/
    #breaker2{
        margin-bottom:0rem;
    }
    .audience:nth-child(1), .barrier:nth-child(1) {
        margin-top:0rem;
    }
    #breaker3{
        margin-top:0;
        margin-bottom:0;
    }
    .principlegroup {
        margin-bottom:2rem;
    }
    .principle {
        margin-bottom:3.75rem;
    }
    #ia {
        margin-top:11.5rem;
    }
    .wiresgroup {
        margin-top: 3.5rem;
    }
    .wires {
        margin-bottom: 0rem;
    }
    #breaker4{
        margin-top:0;
        margin-bottom:.5rem;
    }
    .userflow {
        margin-bottom:3rem;
    }
    .flowstep {
        margin-bottom:0rem;
    }
    #breaker5{
        margin-top:10rem;
        margin-bottom:5rem;
    }
    .explorationgroup {
        margin-top: 6rem;
    }
    .exploration {
        margin-bottom:0rem;
    }
    #breaker6{
        margin-bottom:3.5rem;
    }
    .component {
        margin-bottom:3rem;
    }
    #styleguide {
        margin-top:15rem;
    }
    .issue {
        margin-bottom:2.25rem;
    }
    #fulldesigns {
        margin-top:18rem;
    }
    .slidegroup {
        margin-bottom:3.25rem;
    }
    .slide {
        margin-bottom:0rem;
    }
    .designs {
        margin-bottom:8rem;
    }
    .desktop {
        margin-bottom: 2.25rem;
    }
    #breaker7 {
        margin-top:0;
        margin-bottom:0;
    }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media (min-width: 320px) {
    #end {
        margin-bottom:2rem;
    }
}

@media (min-width: 768px) {
    #end {
        margin-bottom:13rem;
    }

}



/* TEXT SIZING
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 320px) {
    #title {
        font-size: 3.5rem;
        font-style: italic;
        margin-top: 2rem;
        margin-bottom: 3.25rem;
    }
    h1 {
        font-family: 'IBM Plex Serif', serif;
        font-weight:400;
        font-size:2.5rem;
        margin: 0;
        line-height:140%;
    }
    h2 {
        font-size: 3.5rem;
        font-weight: 700;
        font-style:italic;
        line-height:120%;
    }
    h3 {
        font-weight:700;
        font-size: 2.5rem;
        line-height:140%rem;
        margin-top:5rem;
        margin-bottom:0rem;
    }
    .h3clear {
        margin-top:auto;
    }
    h4 {
        font-size: 2rem;
        line-height: 3.5rem;
        margin:0;
    }
    .eyebrow {
        font-family: 'Karla', sans-serif;
        font-size: 1.45rem;
        font-weight: 800;
        letter-spacing: .05rem;
        text-transform: uppercase;
        margin:auto;
        margin-top:2rem;
        margin-bottom:0rem;
    }
    .eyebrow-light {
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        line-height:1.75rem;
        font-family: 'Karla', sans-serif;
        font-size: 1.4rem;
        font-weight: 800;
        letter-spacing: .076rem;
        text-transform: uppercase;
        color:#919191;
    }
    .sub {
        font-size:1.7rem;
        line-height:3rem;
    }

    .detail {
        margin-bottom:3.8rem;
    }
    .projectdetails, .footernotes {
        font-size:1.7rem;
        line-height:2.5rem;
    }
    .scenario {
        margin-bottom:2.75rem;
    }
    .scenario, .description {
        font-style:italic;
        font-size: 2.075rem;
    }
    .caption {
        margin-top:2rem;
        margin-bottom:1rem;
        text-align:center;
        color: #919191;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: .05rem;
    }
    .walkthrough {
        margin-top:0;
        font-family: 'Karla', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0rem;
        line-height:2rem;
        margin-bottom:2.5rem;
    }
    /*--Pull Quote Styling--*/
    .testimonial {
        text-align: center;
    }

    .attribution {
        color: #919191;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height:140%;
        letter-spacing: .05rem;
    }
}


@media (min-width: 768px) {
    #title {
        font-size: 5.85rem;
        font-style: italic;
        letter-spacing:-0.15rem;
        margin-bottom: 3.5rem;
    }
    h1 {
        font-family: 'IBM Plex Serif', serif;
        font-weight:400;
        font-size: 4.5rem;
        margin: 0;
        line-height:120%;
        letter-spacing:-0.065rem;
    }
    h2 {
        font-size: 3.5rem;
        font-weight: 700;
        font-style:italic;
    }
    h3 {
        margin-bottom:inherit;
    }
    .projectdetails, .footernotes {
        margin-top:1rem;
        font-size:1.5rem;
        line-height:2rem;
    }
    .caption {
        margin-bottom:1rem;
        text-align:center;
        color: #919191;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: .05rem;
    }
    .attribution {
        color: #919191;
        font-family: 'Karla', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top:3.75rem;
        letter-spacing: .05rem;
    }
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited {
    color: black;
    text-decoration: none;   
    transition: color .35s;
}

a:hover, a:focus, a:active {
    color: #4285F4;
}

.project a:hover {
    color: black;
}

u {
    text-decoration: none;
    border-bottom: dashed 1px lightgrey;
    line-height: 1;
    transition: border-bottom .35s;
}

u:hover {
    border-bottom: dashed 1px #919191;
}



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle outside; }
ol {
    list-style: disc outside; }
ol, ul {
    padding-left: 2.1rem;
}
ol.users {
    list-style:decimal;
}
ul.info {
    list-style: disc outside; 
}

li {
    margin-bottom:.4rem;
}


/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
    width:100%;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 0;
}


/* Mobile: Hide nav */
@media (min-width: 320px) {
    .threefourths {
        margin: auto;
        width: 90%;
    }
    .threefourths img, .shadow {
        box-shadow: 0px 2px 10px rgb(0,0,0,0.25);
    }
    .imghover {
        display:none;
    }
    .zoom {
        display:inline-block;
        position: relative;
        box-shadow: 0px 2px 10px rgb(0,0,0,0.25);
    }

    .zoom img {
        display: block;
    }

    .zoom img::selection { background-color: transparent; }

}

/* Tablet + larger: Show nav */
@media (min-width: 1200px) {
    .threefourths {
        width: 85%;
    }
    .imghover { 
        display:block;
    }
    .zoom {
        display:inline-block;
        position: relative;
        box-shadow: 0px 2px 10px rgb(0,0,0,0.25);
    }

    .zoom img {
        display: block;
    }

    .zoom img::selection { background-color: transparent; }

}



/*--Image Lazy Load Animation--*/
img:not(.initial) {
    transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
    opacity: 1;
}
img:not([src]) {
    visibility: hidden;
}

/*img - no load in fade*/
.noload {
    opacity: 1;
    /*visibility:visible;*/
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1150ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0%; top:0rem;}
    100% {opacity: 100%; top:0;}
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
.u-pull-right {
    float: right; }
.u-pull-left {
    float: left; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*--- scroll ---*/
html {
    scroll-behavior: smooth;
}


/*---- rows ----*/

.container {
    opacity:0%;
    position: relative;
    -webkit-animation-name: row;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-name: container;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@-webkit-keyframes container {
    0% {opacity: 0%; top:2rem;}
    100% {opacity: 100%; top:0;}
}

@keyframes container {
    0% {opacity: 0%; top:2rem;}
    100% {opacity: 100%; top:0;}
}