/*
* Based on Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box; }
.row {
    margin-bottom: 4.75rem;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%; }
body {
    background-color: #eee;
    font-family:"Karla", sans-serif;
    font-size: 2.5rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    letter-spacing: .05rem;
    color: #757575; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 500; }
h1 { 
    color: #454545;
    font-size: 2.5rem; 
    line-height: 0; }
h1 span {
    position: relative;
    left:.2rem;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited {
    color: #757575;
    text-decoration: none;
    border-bottom: dashed 1px;
    transition: color .5s; }
a:hover, a:active {
    color: #101010; 
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: disc inside; }
ol {
    list-style: decimal inside; }
ol, ul {
    padding-left: .27rem; 
}
li span {
    position: relative;
    left: -20px;
    font-size: 90%;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
.u-pull-right {
    float: right; }
.u-pull-left {
    float: left; }



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both; }