footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-bottom:100px;
  background-image: url("https://cloud.githubusercontent.com/assets/7544281/6431625/6fa86560-bfea-11e4-806b-61802e1d7717.png");
  background-repeat: no-repeat;
}
