/*
=^. .^=
*/


/* GENERAL STYLING */

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff9e7;
    width: 100vw;
    height: 100vh;
}


section {
    width: 70vw;
    margin-left:15vw;
    margin-right:15vw;
    margin-bottom: 4vh;
}

footer {
    display: inline-block;
    text-align:center;
}


/* TYPOGRAPHY */

body {
    color: #1b1e27;
    font-family: "Droid Sans Mono", sans-serif;
    font-size: 13px;
    letter-spacing: .02em;
}

h1 {
    font-family: "Karla", sans-serif;
    font-size: 48px;
    line-height: 73px;
    margin-bottom: 25px;
    margin-top:0px;
    float:none;
        display: inline-block;
}

h1 a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    padding-bottom: 3px;
}

h2 {
    font-size: 18px;
    padding-left: .50vw;
    margin-bottom: 30px;
}

h2 a {
    text-decoration: none;
}

a {
    color: #363e4b;
    font-weight: bold;
}

a:hover, #noLink {
    text-decoration: none;
}

p.section-title {
    font-family: "Karla", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: .65vw;

}

p.section-title a {
    text-decoration:none;
}

p.section-titleNext {
    font-family: "Karla", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: .65vw;
    margin-top: 30px;

}

/* BANNER */

header {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 4vh;
}

header img {
    width: 100vw;
    height: auto;
}


/* NAVIGATION */

nav {
    float: right;
}

nav img {
    margin-bottom:30px;
}

nav li {
    width: auto;
    padding-top: .42vh;
    padding-bottom: .42vh;
}

nav ul{
    padding-left:1.5vw;
}

nav[role="main"] {
    float: left;
}




/* MUSEUM */

.museum {
    margin-left: 0px;
    width:50vw;
    float: left;
}

.museumTitle {
    float: left;
    width: 50vw;
}

.description {
    color: #c6ad97;
    float: right;
    display: inline-flex;
    margin-top:3vh;
    margin-left:0px;
}

.items {
    display: inline-table;
    width: 16vw;
    margin-bottom: 9px;
    border: dashed 1px;
}

.items img {
    width: 150px;
    height: 150px;
}

.music, .light, .memory, .protection, .wealth, .knowledge {
    cursor: pointer;
    padding: 35px 0px 25px 0px;
    font-size: 1.25em;
    font-weight: 800;
        display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.musicDetail, .lightDetail, .memoryDetail, .protectionDetail, .wealthDetail, .knowledgeDetail {
    width: 42.2vw;
    margin: 0px 0px 9px 0px;
    padding:40px 50px 0px 70px;
    height: 300px;
    background-color: white;
    background-image: url();
    color: white;
    line-height: 22px;
    letter-spacing:.5px;
}

h2 {
    color: white;
    font-family: 'Karla';
    font-size: 30px;
    padding:0px;
}

footer{
margin: 50px 0px 0px 0px;
}

/* MUSIC */

.nowPlaying {
    font-family: 'Karla';
    font-size: 15px;
    margin-top:50px;
    letter-spacing:.5px;
}

.musicInfo {
    font-family: 'Karla';
    font-size: 20px;
    letter-spacing:.75px;
    line-height: 30px;
}


.musicDetail a, .musicInfo a {
    color: #d4cfaf;
    text-decoration: none;
}

.musicDetail a:hover, .musicInfo a:hover  {
    color: white;
    text-decoration: none;
}
