/* CS-FUCKIN-Smooth */
/* ♫ LET'S GROOVE ♫ */

body {
    margin: 0; /* for shunt div */
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', cursive;
    font-weight: 700;
    color: white;
}

.headerText {
    font-size: 2.8em;
}


/* shunt div */

div#main-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto !important;
  width: 100%;
  height: 100%;
}

div.frame {
  padding: 0em;
}

div#intro {
  background-color:#28B5F5;
}

div#game {
  background-color:#28B5F5;
}

div#transition {
  background-color:#ee7e00;
}

.didYouKnow {
    margin-top: 130px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.fact {
    margin-top: 90px;
    line-height: 56px;
}

div#result {
  background-color:#f48fb0;
}

#leftSide {
    top: 50px;
    left: 150px;
    height: 800px;
}

#rightSide {
    top: 35px;
    right: 140px;
    height: 800px;
}


#colorResult {
    background-color: #fff;
    width: 180px;
    height: 300px;
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translateX(-50%); /* on own axis */
}

#wisps {
    padding: 0px;
}

#cupFinal {
    padding-top:15px;
    padding-bottom: 0px;
    position: relative;
}

#blendAnother {
    width: 20vw;
    height: 6vw;
    font-size: 20pt;
    margin-top: 45px;
}

/* LANDING SCREEN */

.fourCorners img {
    position: absolute;
    height: auto;
    padding: 0px;
}

#topLeft {
    top: 100px;
    left: 100px;
    width: 302px;
}

#topRight {
    top: 80px;
    right: 100px;
    width: 360px;
}

#bottomRight {
    bottom: 100px;
    right: 100px;
    width: 300px;

}

#bottomLeft {
    bottom: 100px;
    left: 100px;
    width: 440px;
}

.logo {
    margin-top: 75px;
    padding-bottom: 80px;
}


/*  GAMEPLAY SCREEN */

.left {
    width: 70vw;
    float: left;
    display: inline;
}

.right {
    width: 30vw;
    float: left;
    display: inline;
}

.left img, .right img {
    padding: 0;
}

/* instructions styling */

.right {
    margin-top:130px;
}

.message {
    font-size: 2.7em;
    color: white;

    width: 100vw;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: 0px -45px 40px 40px #000;
}

.message p {
    position: absolute;
    display: inline;
    left: 50%;
    transform: translate(-50%);
}

#congrats {
    background-color: hotpink;
}

#yay {
    width: 200px;
    height: auto;
    position: absolute;
    top: 335px;
    left: 62vw;
}

#aww {
    width: 200px;
    height: auto;
    position: absolute;
    top: 335px;
    left: 62vw;
}

.hidden {
    display: none;
}

/* fruits half */

.counter, #blendButton {
    transform: translateY(-70px);
}

.fruitContainer {
    margin-left: 100px;
}

.fruitContainer span {
    display: inline;
}

.fruitContainer img {
    width: 150px;
    height: 150px;
    height: auto;
    padding: 30px;

}

/* cup half */

div.cup {
    position: relative;
}

div.cup img {
    position: relative;
    z-index: 1;
    opacity: .7;
    transform: scale(.75);
}

div.fruitDump {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80%;
}


.right button {
    margin-top: 20px;
    width: 50%;
    height: 90px;
}

.right button.inactive {
    background-color: gray;
}

.colorBlock {
    height: 60px;
    width:125px;
}

#colorBlocks {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translate(-50%, -30%);
}

.colorBlock.blue, #instructions.blue {
    background-color: #0f45a7;
}

.colorBlock.red, #instructions.red {
    background-color: #bf2d23;
}

.colorBlock.yellow, #instructions.yellow {
    background-color: #fccb00;
}

.colorBlock.orange, #instructions.orange {
    background-color: #ee7e00;
}

.colorBlock.green, #instructions.green {
    background-color: #3b7d21;
}

.colorBlock.purple, #instructions.purple {
    background-color: #751da9;
}
.colorBlock.clear {
    border: 1px dashed black;
}

/* content */

.center {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centerText {
    text-align: center;
}

img {
    padding:100px 0px;
}

button {
    /* background styling*/
    width: 30vw;
    height: 16vh;
    background-color: hotpink;
    border-radius: 30px;
    /* text styling*/
    color: white;
    font-size: 2.5em;
    font-family: 'Quicksand', cursive;
    font-weight: 700;
}

a {
    text-decoration: none;
}
