/*
Based on Skeleton V2.0.4 by Dave Gamache
*/

/* NAV BAR 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* nav bar background */
nav {
    z-index:100;
    width:100%;
    height: 40px;
    position: fixed;
    background-color:white;
    box-shadow: 0px -6px 10px rgb(0,0,0,0.75);

    /*vertically centering box*/
    padding: 15px 0px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items:center;
}

/* memoji animation! */
#rotate {
    width:40px;
    height:auto;
    transition: transform 1s ease-out;
}
#rotate:hover {
    transform: rotate(25deg) scale(1.15);
}

/* nav items - right aligned 
#right {
position: fixed;
right: 0;
}*/

/* nav items - left*/
#right {
    margin-top:-1px;
    margin-left:2.25rem;
}

/* nav item spacing */
ul#navcontent li {
    display: inline;
    margin-right:4rem;
}

/* nav item text styling */
ul#navcontent a {
    font-family: 'Karla', sans-serif;
    font-style:normal;
    font-size: 1.5rem;
    letter-spacing: .025rem;
}


/* Media Queries ––––––––––––––––––––––––––– */

/* Mobile: Hide nav */
@media (min-width: 320px) {
    nav{
        display:none;
    }
}

/* Tablet + larger: Show nav */
@media (min-width: 768px) {
    nav{
        display:flex;
    }
}



/* CONTENT CONTAINER 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Media Queries ––––––––––––––––––––––––––– */

/* Mobile */
@media (min-width: 320px) {
    .container {
        margin: 10% 8%;
    }
}

/* Tablet + large */
@media (min-width: 768px) {
    .container {
        width: 80%;
        max-width: 1024px;
        margin: 0 auto;
    }
}


/* ABOUT 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile */
@media (min-width: 320px) {
    #about {
        text-align:left;
    }
    #arrow {
        display:none;
    }
}

/* Tablet + larger */
@media (min-width: 768px) {
    #about {
        padding-top:35vh;
        padding-bottom:25vh;
        /*center text*/
        text-align: center;
    }
    #arrow {
        display:inline;
    }
}

/* HORIZONTAL RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile */
@media (min-width: 320px) {
    hr {
        opacity:0;
        margin-bottom: 10%; 
    }
}

/* Tablet + larger */
@media (min-width: 768px) {
    hr {
        opacity:0;
        margin-bottom: 150px; 
    }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile */
@media (min-width: 320px) {
    footer {
        box-shadow: 0px 6px 10px rgb(0,0,0,0.75);
        padding: 5rem 0rem;
    }
    #footercontent {
        width: 83%;
        margin: 0 auto;
    }
}

/* Tablet + larger */
@media (min-width: 768px) {
    footer {
        box-shadow: 0px 6px 10px rgb(0,0,0,0.75);
        margin-top:20rem;
        padding: 5rem 0;
    }

    #footercontent {
        width: 80%;
        max-width: 1024px;
        margin: 0 auto;
    }
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Baseline Type Styles –––––––––––––––––––––––––––– */

html {
    font-size: 62.5%; 
}

body {
    background-color: white;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: -.025rem;
    color: black;
    font-size:2rem;
}

/* Mobile */
@media (min-width: 320px) {
    h1 {
        font-family: 'IBM Plex Serif', serif;
        font-style:italic;
        font-size:3rem;
        font-weight: 400;
        margin-top:-1.25rem;
        margin-bottom:0;
        line-height:120%;
        letter-spacing:-0.05rem;
    }
    h2, p {
        font-size:2rem;
        font-weight:400;
        line-height: 1.6;
    }
    h3 {
        font-style: italic;
        font-weight: 400;
        font-size: 2.5rem;
        line-height:140%;
        margin-top:-.75rem;
    }
}

/* Tablet + larger */
@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
        font-weight:400;
        line-height: 1.6;
    }

    h3 {
        font-style: italic;
        font-weight: 400;
        font-size: 2.5rem;
        line-height:140%;
        margin-top:-.75rem;
    }
    p {
        font-size:2rem;
        font-weight:400;
        line-height: 1.6;
    }
}


/* Custom Type Styles –––––––––––––––––––––––––––– */

p.eyebrow {
    font-family: 'Karla', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.architecture {
    font-size:1.5rem;
    line-height:2rem;
}




/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited, a h3 {
    color: black;
    text-decoration: none;   
    transition: color .35s;
}

a:hover, a:focus, a:active, a h3:hover {
    color: #fdc53a;
}

.project a:hover {
    color: black;
}





/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project {
    margin-bottom: 3rem;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box; 
}




/* For devices larger than 550px */
@media (min-width: 768px) {
    .column,
    .columns {
        margin-left: 4%; 
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

}





/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ol {
    list-style-type: "💌   ";
    padding-left: 3.5rem;
}
ul {
    list-style: circle outside; 
    padding-left: 2.1rem;
}
li {
    margin-bottom:.4rem;
}


/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
    width:100%;
    margin-bottom:5%;
    display: block;
    background: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.project img {
    margin-bottom:0%;
}

.caption {
    margin-top: -5%;
    text-align: right;
    color: slategrey;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .05rem;
}

#credit {
    color: slategrey;
}

#credit:hover{
    color: black;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
.u-pull-right {
    float: right; }
.u-pull-left {
    float: left; }


/* Self Clearing Goodness
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container:after,
.row:after {
    content: "";
    display: table;
    clear: both; }



/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*--- scroll ---*/
html {
    scroll-behavior: smooth;
}

/*---- rows ----*/

.container {
opacity:0%;
position: relative;
-webkit-animation-name: row;
-webkit-animation-duration: .5s;
-webkit-animation-timing-function: ease-out;
-webkit-animation-fill-mode: forwards;
animation-name: row;
animation-duration: .5s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
}

@-webkit-keyframes row {
0% {opacity: 0%; top:2rem;}
100% {opacity: 100%; top:0;}
}

@keyframes row {
0% {opacity: 0%; top:2rem;}
100% {opacity: 100%; top:0;}
}